body{
   background-image: url(img/Purplle-mk.img);
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
  color: blueviolet;
  font-size: 44px;
}
td{
  color: palevioletred;
  font-size: 20px;
}
button{
  background-color: white;
  color: blueviolet;
  font-size: 16px;
  padding: 2px;
  margin-top: 10px;
}
